a {
  color: inherit;
}
body {
  font-family: Roboto, sans-serif;
  color: #222;
  padding: 1em;
}
header {
  overflow: hidden;
}
header h1 {
  position: relative;
}
header h1 img {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 0;
}
h1 {
  margin-top: 0;
  text-align: center;
}
img {
  vertical-align: text-bottom;
}

.DadJokes {
  max-width: 45em;
  margin: 0 auto;
}
.DadJokes__settings {
  float: right;
  margin: .6em 0;
}

.control {
  cursor: pointer;
}

.Joke {
  border-top: 1px solid #ccc;
  padding: 2em 1em;
  position: relative;
}
.Joke__score {
  position: absolute;
  right:.6em;
  top: .6em;
  color: #bbb;
  font-size: 2em
}

.Joke__link {
  text-align: justify;
}
.Joke__link a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
.Joke img {
  max-width: 100%;
}
.Joke .md {
  text-align: justify;
}
.Joke .md img {
  display: block;
}

@media screen and (max-width: 45em) {
  .Joke__score {
    position: static;
    font-size: inherit;
  }
  .Joke__score::before {
    content: "(";
  }
  .Joke__score::after {
    content: ")";
  }
  .Joke__link {
    padding-right: 0 !important;
  }
}